/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: black;
	--color-background: white;
	--hover-main: white;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

* {
	margin: 0;
	padding: 0;
}

header {
	max-width: 93vw;
	margin: 0 auto;
}

main {
	margin: 0 auto;
}

h2 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 2em;
	font-weight: normal;
}

main section h2 a {
	text-decoration: none;
}

main section h2 a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}

a {
	color: black;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.7em;
}

a:hover {
	text-decoration: none;
}

p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.7em;
}

ul {
	list-style-type: none;
}

/* NAV BAR KLEIN SCHERM */

@media screen and (max-width:650px) {

	/* Logo aan de bovenkant */
	header section:nth-of-type(1) img {
		padding-top: 0.5em;
	}

	header section nav :nth-of-type(1) {
		font-size: em;
	}

	header section:nth-of-type(2) nav {
		width: 100%;
		position: fixed;
		overflow: hidden;
		z-index: 1;
		bottom: 0;
		left: 0;
		background-color: black;
	}

	header section:nth-of-type(2) ul {
		display: flex;
		align-items: center;
	}

	/* agenda en info */
	header section:nth-of-type(2) ul  li:nth-of-type(1) {
		display: none;
	}

	header section:nth-of-type(2) ul  li:nth-of-type(2) {
		display: none;
	}

	/* zoek */
	header section:nth-of-type(2) ul li:nth-of-type(4) {
		margin-left: auto;
	}


	/* Header bovenkant */
	header section nav:nth-of-type(1) a {
		background-color: red;
		font-size: 1.5em;
		display: inline;
		width: 100%;
	}

	header section nav:nth-of-type(1) p {
		display: inline-block;
		background-color: red;
		font-size: 1.5em;
		width: 100%;
	}

	/* header section nav:nth-of-type(1) ul {
		display: inline-block;
	}

	header section nav:nth-of-type(1) ul li{
		display: inline-block;
	} */

	
	/* logo */
	nav li:nth-of-type(3) img {
		height: 1.25em;
		filter: invert(100%);
		padding-left: 2em;
	}

	/* zoek en menu */
	button {
		filter: invert(100%);
		border: none;
		width: 4em;
		height: 4em;
	}

	/* image voor de buttons lol */
	button img {
		width: 2em;
	}

	/* hover */
	button:hover {
		background-color: var(--color-text);
		text-decoration: none;
		filter: opacity(50%);
	}

	button:hover img {
		width: 2em;
		filter: invert(100%);
	}

	
}




/* Grotere scherm header*/
@media screen and (min-width:650px) {

	/* links  en tekst melkweg */
	header section p:nth-of-type(1) {
		background-color: red;
		font-size: 1.5em;
		display: inline;

	}

	header section img:nth-of-type(1) {
		padding-top: 1em;
	}

	header section nav:nth-of-type(1) a {
		background-color: red;
		font-size: 1.5em;
		display: inline;
	}


	header section nav:nth-of-type(1) {
		background-color: red;
		font-size: 2em;
		display: inline;
	}

	/* logo weghalen */
	header section li:nth-of-type(1) {
		display: none;
		position: absolute;
		right: 0;
	}

	/* logo weghalen */
	header section li:nth-of-type(3) {
		display: none;
	}

	/* Menu en search */
	header section li:nth-of-type(4) {
		display: none;
	}

	header section li:nth-of-type(5) {
		display: none;
	}

}

/* alles voor groot scherm hier zetten */
@media (min-width: 650px) {

}


/* MAIN */

main section {
	width: 100%;
	font-size: 0.7em;
}

/* section met asymmetrische pics */
main section:nth-child(-n+1) {
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/background_image.png');
	background-size: cover;
}

main section:nth-child(-n+1) {
	position: relative;
}

main section:nth-child(-n+1) h2 {
	display: none;
}

main section:nth-child(-n+1) p {
	font-size: 2vw;
	font-family: "melkweg", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main section:nth-child(-n+1) a img {
	width: 25vw;
}

main section:nth-child(-n+1) ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
}

main section:nth-child(-n+1) li {
	padding: 2em;
}

main section:nth-child(-n+1) li:nth-child(3n+1) {
	grid-column: 1 / 3;
	display: flex;
	justify-content: center;
}

main section:nth-child(-n+1) a {
	color: var(--hover-main);
	text-decoration: none;
}


main section:nth-child(-n+1) a:hover {
	color: var(--hover-main);
	text-decoration: underline;
}

/* SECTION 2: PROGRAMMA
Hier grid gebruiken  voor de programma's en highlights
 */

main section:nth-child(-2n + 2){
	padding: 2em;
	max-width: 93vw;
	padding-left: 3em;
}

main section:nth-child(-2n + 2) img {
	width: 30em;
}

main section:nth-child(-2n + 2) ul {
	font-size: 4em;
}


main section:nth-child(-2n + 2) h2 {
	font-family: "melkweg", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 5em;
}

main section h3:nth-of-type(1) {
	display: none;
}


/* DERDE SECTION: AGENDA */

/* Weghalen h3 kopje */
main section:nth-child(-3n + 3) h2 {
   display: none;
}

/* styling a link */
main section:nth-child(-3n + 3) a {
	font-family: "melkweg", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 5em;
   text-decoration: none;
   padding: 0.3em;
   padding-left: 0.54em;
   border-bottom: solid var(--color-text);
   border-top: solid var(--color-text);
   background-color: var(--color-background);
   display: block;
}

main section:nth-child(-3n + 3) img {
width: 0.6em;
}

main section:nth-child(-3n + 3) a:hover {
	font-family: "melkweg", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 5em;
   text-decoration: none;
   padding: 0.3em;
   padding-left: 0.54em;
   border-bottom: solid var(--color-text);
   display: block;
   filter: invert(100%);
}


/* 4E SECTION: YOUNG CREATIVES */
main section:nth-child(-4n + 4) {
	padding: 2em;
}

main section:nth-child(-4n + 4) h2{
	font-family: "melkweg", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 5em;
	padding-top: 0.1em;
	padding-bottom: 0.3em;
}

main section:nth-child(-4n + 4) p{
	font-size: 2em;
	padding-bottom: 1em;
}

/* link naar lees meer */
main section:nth-child(-4n + 4) a{
	font-size: 2em;
	text-decoration: none;
	padding-bottom: 5em;
}

main section:nth-child(-4n + 4) a:hover{
	font-size: 2em;
	text-decoration: underline;
}

main section:nth-child(-4n + 4) a img{
	width: 0.6em;
	
}